{% set menu_active = "owners" %}

{% extends "layouts/main.html" %}

{% block content %}
    <h2>Owner Information</h2>
  
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <td><b>{{ owner.firstName ~ ' ' ~ owner.lastName }}</b></td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{ owner.address }}</td>
      </tr>
      <tr>
        <th>City</th>
        <td>{{ owner.city }}</td>
      </tr>
      <tr>
        <th>Telephone</th>
        <td>{{ owner.telephone }}</td>
      </tr>
    </table>
  
    <a href="/owners/{{ owner.ownerId }}/edit" class="btn btn-default">Edit Owner</a>
    <a href="/owners/{{ owner.ownerId }}/pets/new" class="btn btn-default">Add New Pet</a>
    <br />
    <br />
    <br />
    <h2>Pets and Visits</h2>
  
    <table class="table table-striped">
  {% for pet in owner.pets %}
      <tr>
        <td valign="top">
          <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{ pet.name }}</dd>
            <dt>Birth Date</dt>
            <dd>{{ pet.birthDate | date('Y-m-d') }}</dd>
            <dt>Type</dt>
            <dd>{{ pet.type }}</dd>
          </dl>
        </td>
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <th>Visit Date</th>
                <th>Description</th>
              </tr>
            </thead>
            {% for visit in pet.visits %}
            <tr>
              <td>{{ visit.visitDate | date('Y-m-d') }}</td>
              <td>{{ visit.description }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td><a href="/pets/{{pet.petId}}/edit">Edit Pet</a></td>
              <td><a href="/pets/{{pet.petId}}/visits/new">Add Visit</a></td>
            </tr>
          </table>
        </td>
      </tr>
      {% endfor %}
  
    </table>
{% endblock %}
