{% extends "layouts/main.html" %}

{% block content %}
  <h2>Veterinarians</h2>

  <table id="vets" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Specialties</th>
      </tr>
    </thead>
    <tbody>
      {% for vet in vets %}
      <tr>
        <td>{{ vet.firstName ~ ' ' ~ vet.lastName }}</td>
        <td>{% if vet.specialties %}
          {% for specialty in vet.specialties %}
          {{ specialty.name }}
          {% endfor %}
          {% else %}
          <span>none</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
